body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 300px;
  min-height: 120px;
  /* height: 400px; */
}
